* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: coolvetica;
}

button {
  padding: 4px;
}

.camera-container {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 12px;
  z-index: 1;
}

.camera-layout {
  /* background-color: antiquewhite; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.upper {
  background-color: rgb(71, 71, 71);
  border-radius: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding: 12px;
}

.upper button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  fill: rgb(219, 219, 219);
}

.upper button:focus {
  fill: #e6c700;
}

.menu button {
  width: 13px;
}

.lower {
  background-color: #494949;
  border-radius: 12px;
  width: 100%;
  padding: 12px;
}

.outerSelector {
  /* background-color: cadetblue; */
  padding: 7.8px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.outerSelector::-webkit-scrollbar {
  display: none;
}

.selectorMode {
  /* background-color: blanchedalmond; */
  width: 500px;
  display: flex;
  justify-content: space-around;
  /* overflow-x: scroll; */
  /* scroll-snap-type: x mandatory; */
}

.selectorMode button {
  border-radius: 10px;
  border: none;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigateCam {
  /* background-color: azure; */
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
}

.navigateCam button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotateCam svg {
  width: 17.8px;
}

.rotateCam button {
  border-radius: 10px;
  padding: 10.78px;
  border: none;
  transition: 0.2s ease;
}

.rotateCam button:focus {
transform: rotate(90deg);
}

.mediaLast {
  background-color: antiquewhite;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  overflow: hidden;
  border-radius: 10.57px;
}

.mediaLast button {
  padding: 0;
  border-radius: 30px;
  border: none;
  width: 100%;
}

.mediaLast img {
  width: 100%;
}

.shutterBtn button {
  border-radius: 50px;
  width: 48px;
  height: 48px;
  border: none;
  transition: 0.2s ease;
}

.shutterBtn button:active {
  transform: scale(0.57);
  border: #e6c700 2.57px solid;
  transform: rotate(195deg);
}

hr {
  margin-top: 14px;
}
